body, .container{
    background-color: #000;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    place-items: center;
}

.outputField{
    display: block;
    margin: auto;
    width: 75%;
    max-height: calc(75vh - 50px);
    position: relative;
    display: block;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    border-style: solid;
}

.chat-input{
    position: fixed;
    display: block;
    margin: auto;
    bottom: 0;
    border: 1px solid #000;
    border-radius: 50px;
    width: 50%;
}

.inputField{
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    display: block;
}

.sendBtn{
    border-radius: 10px;
    width: 100%;
}

.about-modal{
    opacity: 1.0;
    background-color: #c0c0c0;
    color: #000;
}

.about-button{
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #000;
    border-radius: 50px;
    width: 10%;
}